@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

:root {
  --primary-bg: #f8f5f0;
  --secondary-bg: #fcfcfd;
  --foreground: #1a1a1a;
  --green: #819e83;
  --gold: #d6b88d;
  --gray: #e6e8ec;
  line-height: 1.5;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;

  color: var(--foreground);
  background-color: var(--primary-bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  scroll-behavior: smooth;
}

.heading {
  @apply flex flex-col items-center gap-5 [&>h3]:text-[var(--gold)] [&>h2]:text-[var(--foreground)] [&>h2]:font-[EB_Garamond] [&>h2]:text-[2rem] [&>h2]:font-bold [&>h3]:uppercase [&>h3]:tracking-[0.3em] mb-10 text-center;
}

.primary-heading {
  @apply text-8xl font-bold text-[#5E765F] font-[EB_Garamond];
}

.title {
  @apply text-[2rem] font-bold font-[EB_Garamond];
}

.subtitle {
  @apply text-[1rem] uppercase tracking-[0.3em];
  color: var(--gold);
}

.swiper-button-disabled {
  @apply !text-[var(--gold)];
}

.swiper-button-next,
.swiper-button-prev {
  @apply !text-[var(--gold)] !cursor-pointer;
}

.swiper-pagination-bullet-active {
  @apply bg-[var(--gold)];
}
