@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  --color-green: #819e83;
  --color-gold: #d6b88d;
  --color-bg-primary: #f8f5f0;
  --color-gray: #e6e8ec;
  --color-bg-secondary: #fcfcfd;
  --color-foreground: #1a1a1a;
  --color-accent-foreground: #5E765F;
  --font-garamond: "EB Garamond", serif;
  --font-montserrat: "Montserrat", sans-serif;
  --tracking-subtitle: 0.3em;
}

:root {
  @apply font-montserrat bg-bg-primary text-foreground;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

.heading {
  @apply flex flex-col items-center gap-5 [&>h2]:text-foreground [&>h2]:font-garamond [&>h2]:text-3xl [&>h2]:font-bold [&>h3]:uppercase [&>h3]:tracking-subtitle [&>h3]:text-gold mb-10 text-center;
}

.primary-heading {
  @apply text-6xl md:text-8xl font-bold text-accent-foreground font-garamond;
}

.title {
  @apply text-3xl font-bold font-garamond;
}

.subtitle {
  @apply text-[1rem] uppercase tracking-subtitle text-gold;
}

.swiper-button-disabled {
  @apply !text-gold;
}

.swiper-button-next,
.swiper-button-prev {
  @apply !text-gold !cursor-pointer;
}
